.header{
    padding: 30px;
    position: fixed;
    right: 0;
    z-index: 1;

   
    .burgerActive{

        &::after{
            transform: rotate(45deg);
            top: -1px;
        }

        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}

