.header{
    padding: 30px;
    position: fixed;
    right: 0;
    z-index: 1;

    .button{
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    .burgerActive{

        &::after{
            transform: rotate(45deg);
            top: -1px;
        }

        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}

